/* General Styles */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    width: 100%;
    height: 100%;
}

body 
{
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;   
    background-color: #ffdd17;
    width: 100%;
    height: 100%;
}

main
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-frame
{
    display: flex;
    flex-flow: column;
    max-width: 700px;

    background-color: white;
    width: 100%;
    height: 95%;
    box-shadow: 0px 7px 26px -6px #444444;
}

/* END of General Styles */

/* Header Styles */

#main-frame header
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    padding: 25px;
    background-color: black;
}

#profile-block
{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

#profile-block h1
{
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
}

#avatar
{
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 1px solid white;
}

#contact-information-block
{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: right;
    width: 250px;
    height: 100%;
    color: white;
    font: 12px;
}

#contact-information-block a
{
    text-decoration: none;
    color: white;
}

#contact-information-block span
{
    margin-left: 15px;
}

/* END of Header Styles */

/* Main Content Styles */

#main-frame-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

#personal-information-block
{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.section-row
{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.section-title
{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.section-description
{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.section-text
{
    font-size: 12px
}

.content-row
{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    gap: 30px;
}

#content-list
{
    margin-left: 15px;
}

/* END of Main Content Styles */

/* Utils style */

.flex-grow-1
{
    flex-grow: 1;
}

/* END of Utils style */